body{
  background-color:rgb(245, 244, 244);
  font-family:Arial, Helvetica, sans-serif;
}
.profile{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 41%;
   height: 690px;
  background-color:white;
  border-radius: 4.5px;
  padding-left: 55px;
  padding-top: 45px;
text-align: left;
}
img{
  height: 100px;
  border-radius: 100px;
  
}

.ql{
  padding-top: 14px; 
  font-size:25px;
  margin-left: -600px;
}
.links{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 54.7%;
   height: 350px;
  background-color:white; 
  float:right;
position: relative;
margin-top:-734px; 
border-radius: 4.5px;
  
  
}
.link1{
  padding-top: 12px; 
  padding-bottom: 12px;
  margin-left: -45px;
  font-size:16.5px;
  width: 35%;
  text-align: left;
  line-height: 2
  
}

.link2{
  padding-top: 12px; 
  padding-bottom: 12px;
  padding-left: 100px;
  font-size:16.5px;  
  width: 35%;
  text-align: left;
  line-height: 2
}
ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: inline-block;
  
}
a{
    color: rgb(18, 161, 228);
}
a:link {
  text-decoration: none;
  
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(11, 2, 24);
}

a:active {
  text-decoration: underline;
}
hr{
  border-top: 1px solid rgb(185, 179, 179);
  
}
.chart{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 54.7%;
   height: 90px;
   background-color:white;
   float:right;
  position: relative;
  margin-top:-377px; 
  font-size: 12px;
  border-radius: 4.5px;

}
.org{
  padding-left: 45px;
  padding-top: 15px;
  float: left;
}
.btn{
  float: right;
background-color: white;
border-radius: 15px;

   margin-top:30px; 
   margin-right: 55px;
   text-align: center;
   padding-top: 5px; 
  padding-bottom: 5px;
  width: 120px;
  cursor: pointer;
  position: relative;
  
}
.btn1{
  float: right;
background-color: white;
border-radius: 15px;
   margin-top:34px; 
   margin-right: 55px;
   text-align: center;
   padding-top: 5px; 
  padding-bottom: 5px;
  width: 120px;
  cursor: pointer;
  background-color:rgb(245, 244, 244);
 
}
